In [76]:
import pandas as pd
from random import choice

In [77]:
df = pd.read_csv('questions.csv')

In [78]:
df.head()

,Unnamed: 0,category,type,difficulty,question,correct_answer,incorrect_answers
0,0,General Knowledge,multiple,medium,"What name represents the letter ""M"" in the NAT...",Mike,"['Matthew', 'Mark', 'Max']"
1,1,General Knowledge,multiple,easy,What does a funambulist walk on?,A Tight Rope,"['Broken Glass', 'Balls', 'The Moon']"
2,2,General Knowledge,multiple,medium,Rolex is a company that specializes in what ty...,Watches,"['Cars', 'Computers', 'Sports equipment']"
3,3,General Knowledge,multiple,easy,Area 51 is located in which US state?,Nevada,"['Arizona', 'New Mexico', 'Utah']"
4,4,General Knowledge,multiple,easy,How would one say goodbye in Spanish?,Adiós,"[' Hola', 'Au Revoir', 'Salir']"

In [86]:
df['options'] = [i.append(df['correct_answer']) for i in df['incorrect_answers']]

AttributeError: 'str' object has no attribute 'append'

In [87]:
df

,Unnamed: 0,category,type,difficulty,question,correct_answer,incorrect_answers,options
0,0,General Knowledge,multiple,medium,"What name represents the letter ""M"" in the NAT...",Mike,"['Matthew', 'Mark', 'Max']","0 ['Matthew', 'Mark', 'Max']Mik..."
1,1,General Knowledge,multiple,easy,What does a funambulist walk on?,A Tight Rope,"['Broken Glass', 'Balls', 'The Moon']","0 ['Broken Glass', 'Balls', 'The ..."
2,2,General Knowledge,multiple,medium,Rolex is a company that specializes in what ty...,Watches,"['Cars', 'Computers', 'Sports equipment']","0 ['Cars', 'Computers', 'Sports equip..."
3,3,General Knowledge,multiple,easy,Area 51 is located in which US state?,Nevada,"['Arizona', 'New Mexico', 'Utah']","0 ['Arizona', 'New Mexico', 'Ut..."
4,4,General Knowledge,multiple,easy,How would one say goodbye in Spanish?,Adiós,"[' Hola', 'Au Revoir', 'Salir']","0 [' Hola', 'Au Revoir', 'Salir..."
...,...,...,...,...,...,...,...,...
995,995,General Knowledge,multiple,easy,The drug cartel run by Pablo Escobar originate...,Medellín,"['Bogotá', 'Quito', 'Cali']","0 ['Bogotá', 'Quito', 'Cali']Mi..."
996,996,General Knowledge,multiple,medium,Frank Lloyd Wright was the architect behind wh...,The Guggenheim,"['Villa Savoye', 'Sydney Opera House', 'The Sp...","0 ['Villa Savoye', 'Sydney Opera House', ..."
997,997,General Knowledge,multiple,easy,"What is the French word for ""fish""?",poisson,"['fiche', 'escargot', 'mer']","0 ['fiche', 'escargot', 'mer']M..."
998,998,General Knowledge,multiple,medium,What fast food chain has the most locations gl...,Subway,"['Starbucks', 'McDonalds', 'KFC']","0 ['Starbucks', 'McDonalds', 'K..."
999,999,General Knowledge,multiple,easy,What kind of aircraft was developed by Igor Si...,Helicopter,"['Stealth Blimp', 'Jet', 'Space Capsule']","0 ['Stealth Blimp', 'Jet', 'Space Cap..."

In [58]:
df['difficulty'].value_counts()

medium    380
easy      356
hard      264
Name: difficulty, dtype: int64

In [60]:
a = input(' Choose a dificulty ')

 Choose a dificultyeasy

In [61]:
if a == 'easy':
    df = df[df['difficulty'] == 'easy']
elif a == 'medium':
    df = df[df['difficulty'] == 'medium']
elif a == 'hard':
    df = df[df['difficulty'] == 'hard']

In [62]:
df.head()

,Unnamed: 0,category,type,difficulty,question,correct_answer,incorrect_answers
1,1,General Knowledge,multiple,easy,What does a funambulist walk on?,A Tight Rope,"['Broken Glass', 'Balls', 'The Moon']"
3,3,General Knowledge,multiple,easy,Area 51 is located in which US state?,Nevada,"['Arizona', 'New Mexico', 'Utah']"
4,4,General Knowledge,multiple,easy,How would one say goodbye in Spanish?,Adiós,"[' Hola', 'Au Revoir', 'Salir']"
5,5,General Knowledge,multiple,easy,What is the largest organ of the human body?,Skin,"['Heart', 'large Intestine', 'Liver']"
7,7,General Knowledge,multiple,easy,"On a dartboard, what number is directly opposi...",19,"['20', '12', '15']"

In [63]:
df.shape

(356, 7)

In [64]:
puntos = 0
num = 15


df_sample = df.sample()
#print(q)
df_sample

,Unnamed: 0,category,type,difficulty,question,correct_answer,incorrect_answers
816,816,General Knowledge,multiple,easy,"What is the French word for ""hat""?",Chapeau,"['Bonnet', ' Écharpe', ' Casque']"

In [65]:
for i in df_sample['question']:
    print(i)

What is the French word for "hat"?

In [66]:
answer_player = input('Give your answer')

Give your answerchapeau

In [67]:
df_sample['incorrect_answers']

816    ['Bonnet', ' Écharpe', ' Casque']
Name: incorrect_answers, dtype: object

In [68]:
for k in df_sample['incorrect_answers']:
    print(i)

What is the French word for "hat"?

In [70]:
if df_sample[df_sample['incorrect_answers'] == answer_player.capitalize()]:
    #if answer_player.capitalize == i:
    print('sorry, your answer is not correct')
    print('The correct answer was '+ df['correct_answer'])
        
#elif answer_player.capitalize == df_sample['correct_answer']:
 #   print('you get the right answer')

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
with open('questions.csv', 'r') as f: